@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500&display=swap');

body {
    background-color: #F3F1FF;
    font-family: 'Lobster', cursive;
    font-family: 'Poppins', sans-serif;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container {
    background-color: white;
    width: 870px;
    margin-top: 21px;
}

.top-players {

    margin-bottom: 30px;

}

.player-title,
.blog-title,
.course-title {
    font-size: 24px;
    color: #562EFF;
    padding-top: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
}

.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player img {
    height: 56px;
    width: 56px;
    padding-left: 30px;

}

.player {
    display: flex;
    align-items: center;
}

.player-name {
    font-size: 18px;
    padding-left: 16px;
}

.hr-line {
    color: #D1D1D1;
    width: 807px;

}

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    padding-left: 30px;

}

.blog {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.blog-content {
    padding-left: 16px;
}

.blog-content p {
    color: #562EFF;
}

.blog-content span {
    color: #9F9F9F;
}

.blog img {
    width: 177px;
    height: 117px;
}

.course {
    display: flex;
    justify-content: space-between;
}

.course-content {
    width: 253px;
    height: 270px;
    border-radius: 5px;
    padding: 25px;

}

.course img {
    width: 224px;
    height: 104px;
}

.course-content h2 {
    font-size: 15px;
}

.course-info {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.fa-star {
    width: 12px;
    height: 12px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE
}

.time-clock {
    background-color: #FFE4E8;
    border-radius: 14px;
    color: #FF4A60;
    width: 95px;
    height: 30px;
    text-align: center;
}